body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 18px;
}

.logo {
    width: 50px;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.title {
    align-self: center;
}

.header-links {
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.wizard {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.titles {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 18px;
}

.wiz-title {
    padding: 24px;
}

.machines {
    display: flex;
    gap: 16px;
}

.machine-label{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 14px;
    margin-top: 32px;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 9px;
}

select {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3882f6;
    color: white;
    border-style: none;
}

.compressorlist {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 32px;
    gap: 14px;
}

.compressor-status {
    display: flex;
    gap: 14px;
}

.status-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 32px;
    gap: 14px;
}

.reset-button {
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    color: #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    align-items: center;
    margin-top: 20px;
}