body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 18px;
}

.logo {
    width: 50px;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 25px;
    gap: 14px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.title {
    align-self: center;
}

.wizard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.wiz-title {
    padding: 24px;
}

.machine-label{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-right: 32px;
}

.pressures {
    font-size: 18px;
}

.compressorlist,
.machines {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.compressor-status,
.machine-container {
    display: flex;
    gap: 14px;
    align-items: center;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    text-decoration: none;
    margin: 25px;
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.aveka-logo {
    margin: 18px;
    width: 275px;
    height: auto;
}

.status {
    background-color: #ff4040;
    padding: 3px;
    border-radius: 5px;
}

.compressor {
    width: 100px;
}


/*Update page styles*/
.mainsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#machine-list-box,
#pressure-list-box {

    font-size: 24px;
    margin: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 8px;
    overflow-y: auto;
    border: none;
    
}

option {
    display: flex;
    padding: 15px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 20px;
    font-weight: bolder;
    color: #303030;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#percent-label {
    font-size: 26px;
    background-color: #ff4040;
    padding: 3px;
    border-radius: 5px;
}

.select-label {
    font-size: 24px;
}

.vsd-label {
    font-size: 24px;
}